body {
  background-color: #F0D9E7;
  outline: 0;

}
p {
  font-family: 'Courgette', cursive;
  color: #151515;

}
img {
  width: 300px;
  height: 300px;
  padding-top: 5px;
}
h1 {
 color: #5D534A;
 font-weight: 200;
 font-size: 100px;
 font-family: 'Great Vibes', cursive;
 position: absolute;
 display: inline-block;
 margin-top: 50px;
 margin-left: 95px;
 /* width: 450px;
 height: 50px; */
}

h2 {
 text-align: center;
 font-family: 'Great Vibes', cursive;
 font-size: 40px;
 font-weight: lighter;
 color: #5D534A;
}

.hat-text {
  width: 100%;
  height: 1000px;
}
.unicorn {
  position: absolute;
  width: 200px;
  height: 200px;
  position: absolute;
  display: inline-block;
  margin-top: 300px;
  margin-left: 280px;

}
.unicorn2 {
  position: absolute;
  width: 200px;
  height: 200px;
  position: absolute;
  display: inline-block;
  margin-top: 300px;
  margin-left: 850px;

}
.bday {

}
.top {

}
.top-link {
 position: absolute;
 display: inline-block;
 margin-top: 25px;
 margin-left: 900px;
 text-decoration: none;
 color: #FFF5DA;

}

.knee {
  width: 300px;
  height: 300px;
  float: right;
  margin-right: 200px;

}

.pic1 {

  width: 100%;
  height: 300px;
}
.p1{
  display: block;
  width: 200px;
  margin-left: 200px;
  padding-top: 150px;
}

.working {
  width: 300px;
  height: 300px;
  float: left;
  margin-left: 200px;
}
.pic2 {
  width: 100%;
  height: 300px;
}
.p2{
  display: block;
  width: 200px;
  margin-left: 800px;
  padding-top: 100px;
}
.trolley {
  width: 300px;
  height: 300px;
  float: right;
  margin-right: 200px;
}
.pic3 {

  width: 100%;
  height: 300px;
}
.p3 {
  display: block;
  width: 200px;
  margin-left: 200px;
  padding-top: 150px;
}
.dressed {
  width: 300px;
  height: 300px;
  float: left;
  margin-left: 200px;
}
.pic4 {

  width: 100%;
  height: 300px;
}
.p4 {
  display: block;
  width: 200px;
  margin-left: 800px;
  padding-top: 100px;
}
.swing {
  width: 300px;
  height: 300px;
  float: right;

}
.pic5 {

  width: 100%;
  height: 300px;
}
.p5 {
  display: block;
  width: 200px;
}
.loverow{
  display: block;
  position: relative;
  margin-left: 500px;
  padding-top: 100px;
  padding-bottom: 75px;
}
.lh {
  margin-bottom: 10px;
  border-radius: 30px;

}
.lrp {
  margin-left: 70px;
}
.lrp2 {
  margin-left: 80px;
}
.pic7finish {
  margin-top: 30px;
  margin-left: 200px;
  margin-bottom: 100px;
}
.p6 {
  margin-left: 240px;
}
.p7 {
  margin-left: 220px;
}
.bottom {
  text-align: center;
  text-decoration: none;
}
